body {
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: 'Righteous', cursive;
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  background-color: rgb(245, 197, 138);
  color: rgb(43, 7, 7);
  text-align: center;
  width: 350px;
  padding: 10px;
}

#hidden-puzzle {
  border: 3px double white;
  padding: 0px;
  height: 60px;
  background-color: rgb(32, 156, 238);
  color: white;
}

#puzzle-solution {
  margin: 15px;
}

.playingfield {
  display: flex;
}

.hints {
text-align: center;
width: 40%;
}

.hint {
display: inline-box;
margin: 5px auto;
width: 30%;
height: 40px;
border: 2px solid rgb(247, 243, 243);
background-color: rgb(228, 221, 221);
}

.hint img {
width: 40%;
}

.guesses {
width: 80%;
text-align: left;
}

.guess {
display: inline-box;
margin: 9px auto;
width: 90%;
height: 40px;
}

.active-guess {
cursor: pointer;
}

#checkbutton {
cursor: pointer;
}

.pickedcolor {
width: 40px;
}

#new_game {
  cursor: pointer;
  color: rgb(94, 94, 240); 
}

@media only screen and (min-width: 600px) {
  body {
    background: url(./images/woods-background-1.jpg);
  }
  main {
    margin-top: 20px;;
  }
}