body {
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: 'Righteous', cursive;
  margin: 0px;
  padding: 0px;
}

.main {
  border: 2px solid black;
  /* background-color: rgb(125, 241, 245); */
  background-image: radial-gradient(rgb(255,255,255) , rgb(0, 170, 119));
  color: rgb(43, 7, 7);
  text-align: center;
  width: 350px;
  padding: 10px;
}

#hidden-puzzle {
  /* width: 300px; */
  border: 3px double white;
  padding: 0px;
  height: 60px;
  background-color: rgb(32, 156, 238);
  color: white;
}

#puzzle-solution {
  margin: 15px;
}

.playingfield {
  display: flex;
}

.hints {
  text-align: center;
  width: 30%;
}

.hint {
  display: inline-box;
  margin: 5px auto;
  width: 30%;
  height: 40px;
  border: 2px solid rgb(247, 243, 243);
  background-color: rgb(243, 239, 239);
}

.hint img {
  width: 40%; 
}

.guesses {
  width: 70%;
  text-align: left;
}

.guess {
  display: inline-box;
  margin: 9px auto;
  width: 90%;
  height: 40px;
}

.active-guess {
  cursor: pointer;
}

#checkbutton {
  color: rgb(94, 94, 240);
  cursor: pointer;
}

.pickedcolor {
  width: 40px;
}

#new_game {
  cursor: pointer;
  color: rgb(94, 94, 240); 
}

@media only screen and (min-width: 400px) {
  body {
    background: url(./images/woods-background-1.jpg);
  }
  .main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  }
}
