.playingfield {
    display: flex;
  }
  
.hints {
  text-align: center;
  width: 40%;
}

.hint {
  display: inline-box;
  margin: 5px auto;
  width: 30%;
  height: 40px;
  border: 1px solid black;
}

.hint img {
  width: 30%;
}

.guesses {
  width: 80%;
  text-align: left;
}

.guess {
  display: inline-box;
  margin: 7px auto;
  width: 90%;
  height: 40px;
  }
  
#checkbutton {
  cursor: pointer;
}

.pickedcolor {
  width: 40px;
}
  
  